.App {
  text-align: center;
  color: #444;
  background-color: #FFFAFA;
}

.tile {
  background-color: turquoise;
  border: solid #FFFAFA 35px;
}

.number {
  font-size: 3rem
}

.message {
  font-size: 1rem
}